# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science.
- List popular libraries for Data Science.
- List Markdown cell to demonstrate heading.
- List Markdown cell to demonstrate tables.

## Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

## Some of the commonly used libraries used by Data Scientists include:
1. Mathplotlib
2. Tensor Flow
3. NumPy

| Data Science Tools |
| ------------------ |
| Hadoop |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Joseph Cherian